<h1>DBCOverflow Questions</h1>

<% @questions.each do |q| %>
    <%= q.title %>
    <%= q.content %>
<% end %>

<h2>Add a question:</h2>
<%= form_for @question do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.submit "Submit Question" %>
<% end %>

<%= link_to 'Edit Question', edit_question_path(@question) %>
<%= button_to 'Delete Question'%>
