<h1>DBCOverflow Questions</h1>
<table>
    <tr>
        <th>Vote Total</th>
        <th>Vote Up</th>
        <th>Vote Down</th>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% @questions.each do |q| %>
    <tr>
        <td><%= q.vote_count %></td>
        <td><%= button_to 'Up', up_vote_question_path(q), method: :patch%></td>
        <td><%= button_to 'Down', down_vote_question_path(q), method: :patch%></td>
        <td><%= q.title %></td>
        <td><%= q.content %></td>
        <td><%= link_to 'Edit', edit_question_path(q) %></td>
        <td><%= link_to 'Destroy', question_path(q), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>

<h2>Add a question:</h2>

<%= render 'form' %>


