<h1>DBCOverflow Question and Answers</h1>

<div>
    <h3><%= @question.vote_count %>| <%= @question.title %></h3>
    <p><%= @question.content %></p>
</div>

<%= link_to 'Edit Question', edit_question_path(@question) %>

<div>
    <% @answers.each do |a| %>
        <h4><%= a.vote_count %> | <%= a.title %></h4>
        <p><%= a.content %></p>
        <%= button_to 'Up', up_vote_question_answer_path(a), method: :patch, remote: true %>
        <%= button_to 'Down', down_vote_question_answer_path(a), method: :patch, remote: true%>
    <% end %>
</div>

<h2>Add an answer:</h2>
<%= form_for ([@question, @question.answers.build]), remote: true do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />

    <%= f.label :content %>:
    <%= f.text_field :content %><br />

<%= f.submit "Submit" %>
<% end %>

<br>
<%= link_to 'Back to Questions', questions_path %>


